



<!DOCTYPE html>
<html>
<head>
	<title>Add Book</title>
</head>
<body>
	<h1>Add Book</h1>
	<form action="/books" method="post">
		<table>
			<tr>
				<td>Title:</td>
				<td><input type="text" name="title" id="title" required></td>
			</tr>
			<tr>
				<td>Author:</td>
				<td><input type="text" name="author" id="author" required></td>
			</tr>
			<tr>
				<td>Publisher:</td>
				<td><input type="text" name="publisher" id="publisher" required></td>
			</tr>
			<tr>
				<td>Publication Date:</td>
				<td><input type="date" name="publication_date" id="publication_date" required></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Add Book"></td>
			</tr>
		</table>
	</form>
</body>
</html>

