<!DOCTYPE html>
<html>
<head>
	<title>Add Librarian</title>
</head>
<body>
	<h1>Add Librarian</h1>
	<form action="/librarians" method="post">
		<table>
			<tr>
				<td>Name:</td>
				<td><input type="text" id="name" name="name" required></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="email" id="email" name="email" required></td>
			</tr>
			<tr>
				<td>Phone Number:</td>
				<td><input type="text" id="phoneNumber" name="phoneNumber" required></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="password" id="password" name="password" required></td>
			</tr>
			<tr>
				<td>Confirm Password:</td>
				<td><input type="password" id="confirm_password" name="confirm_password" required></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Add Librarian"></td>
			</tr>
		</table>
	</form>
</body>
</html>